* {
    background-color: lightskyblue;
    font-family: sans-serif;
}
.title
{
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: dotted ;
    font-size: 40px;

}

.insurance
{
    font-size: 30px;

}
img {
    border: 2px dashed green;
    border-radius: 9px;
    margin: 0px 0px 15px 15px;
    max-width: 60%;
    height: auto;
    opacity: 1.0;
}

.grinch
{
    opacity: 100%;
}
